:root{
        --border-radius:8px;
		--border-radius-2:8px 8px 0px 0px;
}
.chart {
    border-radius: var(--border-radius);
}
.title.frame-title {
    border-radius: var(--border-radius-2);
}
div#framelSOpVZ {
    border-radius: var(--border-radius);
}
.bm_h.cl {
    border-radius: var(--border-radius-2);
}
.bm.bmw.cl {
    border-radius: var(--border-radius);
}
.bm_h {
    border-radius: var(--border-radius-2);
}
div#online {
    border-radius: var(--border-radius);
}
.bm.lk {
    border-radius: var(--border-radius);
}









