.wp,.listen_ft,#toptb .wp,#sxp_nv ul,.hdc{ width:1200px;}

.listen_ft .y { max-width:620px;}

.sxpbbs99 { width:1200px;}
.sxpbbs99_r,.sxpbbs99 .frame-1-1-r { width:878px !important;}
.sxpbbs99_r1,.sxpbbs99_r .frame-1-1-l { width:664px !important;}
.sxpbbs99_r2,.sxpbbs99_r .frame-1-1-r { width:200px !important;}
.sxpbbs99_r1.frame-tab .tb a { padding:0 35px;}
.sxpbbs99_r1area li i { display:inline;}

.sxpcai { width:auto;}
.sxpcai_left { width:775px;}
.sxpcai_right { width:auto;float:none;margin-left:785px;}


#mu { width:1200px;border:0 none;background:#FFF;}
#mu ul { width:100%;background:none repeat scroll 0 0 #FFF;border:0 none;}

/** home **/
.ct3_a .sd {width:220px;}
/** end **/